  body{
    background-color: #333 !important;
    color: whitesmoke !important;
  }

  .nav-item{
    margin-right: 10px;
  }

  #nav{
    margin-bottom: 20px;
  }

  h1{
    text-align: center;
  }

  .formBox{
    margin: 70px auto;
    width: 85%;
  }

  .errors{
    color: red;
    text-align: center;
    font-weight: bolder;
  }