{
    "plugins": [
        "syntax-dynamic-import"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                  },
                "modules": false
                
            }
        ]
    ]
}