extends layout

block content
  h1= title
  p Welcome to the #{title} of countries
  p
    a(href="/countries") Countries
  p
    a(href="/countries/delete") Delete Countries
  p
    a(href="/countries/add") Add Countries
  p
    a(href="/countries/edit") Edit Countries
  p
    a(href="/about") About
  div#like_button_container
