/*
    Color variables
 */
body {
  background-color: #333 !important;
  color: whitesmoke !important; }

h1 {
  text-align: center;
  margin-top: 35px !important;
  background-color: #525252;
  padding: 21px;
  border-radius: 16px;
  font-weight: bolder;
  text-transform: capitalize; }

.nav-item {
  margin-right: 86px; }

#nav {
  margin-bottom: 20px; }

.formBox {
  margin: 70px auto;
  width: 85%; }

.map {
  margin: 13% auto;
  display: block;
  width: 85%; }

.loaderContainer {
  text-align: center;
  display: block; }

.loadingText {
  text-align: center;
  display: inline-block;
  margin: 0 20px;
  color: #FFC107;
  font-weight: bolder;
  font-size: 20px; }

.loaderGif {
  vertical-align: middle;
  border-style: none;
  width: 3%;
  padding-bottom: 7px; }

.container {
  overflow-wrap: anywhere; }

.modal-header, .modal-footer {
  background-color: #333;
  color: #FF928B;
  border-bottom: none;
  border-top: none;
  text-align: center; }

.modal-body {
  background-color: #525252;
  color: #EFE9AE;
  border-bottom: 1px solid #EFE9AE;
  border-top: 1px solid #EFE9AE; }

.modal-title {
  margin-left: 42%; }

.modal-body {
  text-align: center; }

.modal-content {
  background-color: transparent; }

.errorMessage {
  text-align: center;
  color: #FF928B;
  font-weight: bolder;
  margin: 28px auto -40px auto;
  font-size: 26px;
  display: block;
  width: 100%; }

.successMessage {
  text-align: center;
  color: #CDEAC0;
  font-weight: bolder;
  margin: 28px auto -40px auto;
  font-size: 20px;
  display: block;
  width: 100%; }
